.bg1{
    background-image: url("background.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;

}
.bg2{
    background-image: url("background.png");
    height: 120vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 100vh;
    opacity: 0.8;
    z-index: -1;
}
h1{
    color: black;
    font-family: "Montserrat", monospace;
    font-size: 72px; 
    margin: 20px;
    padding-left: 20px;
}
.intro{
    display: flex;
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
}
.about{
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 5px;
    color: aliceblue;
    text-shadow: 5px 5px black;
}

.abt{
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    
    
    
    
}
.desc{
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    text-align: left;
    margin-top: 30px;
    
    

} 
.prof{    
    font-family: "Ubuntu", monospace;
    font-size: 60px;
    display: flex;
    margin: 30px;

    
}
.sec{
    margin-top:8vh;
    text-align: center; 
    padding: 0;
    font-family: 'Bree Serif', serif;
    font-size: 60px;
    font-weight: bold;
    
    letter-spacing: 15px;
    color: black;

}
.skill{
    align-items: center;
    padding: 20px;
}
.exp{
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: blanchedalmond;
    text-shadow: 2px 2px black;

}
a{
    color: antiquewhite !important;
}